/*added by kuber */
.panel-image img {
    max-height: 254px;
}

footer {
    border-top: 2px solid #5d011a;
}
ul.thumbnails{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5d011a;
}

.thumbnails li {
    float: left;
}

.thumbnails li img {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.ratingAds .rating .glyphicon {
    color: #f29f00;
}

.address{min-height: 83px;}

.pagination>li:first-child>a, .pagination>li:first-child>span,.pagination>li:last-child>a, .pagination>li:last-child>span{ /*padding: 9.5px;*/}
